*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgba(0, 0, 255, 0.468);
}
p{
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    color: rgba(234, 21, 25, 0.726);
}
.card{
    width: 90%;
    height: 90%;
}
.card-img-top{
    width: 100%;
    height: 100%;
    object-fit: fill;
    padding: 5px;
}
#detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#description{
    text-align: justify;

}
.card-cuantity{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#btn_back{
    margin: 10px;
}