*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card-detail p{
    font-size: 20px;
    margin: 10px;
   
}
#detail{
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}
.card{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-img-top{
    width: 60%;
    height: 60%;
    object-fit: fill;
    padding: 5px;
}
#description{
    text-transform: capitalize;
    text-align: justify;

}
.card-title{
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px;
}
.card-cuantity{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--mantis-700);
    background-color: var(--mantis-100);
}
.card-cuantity p{
    font-size: large;
    margin: 10px;
}
.card-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#btn_back{
    margin: 10px;
}
footer p{
    text-align: center;
    margin: 20px;
}
@media only screen and (min-width: 320px) and (max-width: 600px){
    #detail{
        margin: 20px auto;
    }
    .card{
        width: 85vw;
        max-height: 70%;
    }
    
}